name: CI
on: [push]
env:
  DEVELOPER_DIR: /Applications/Xcode_14.2.app
jobs:
  test:
  	name: check swift source
  	runs-on: macOS-latest
  	steps:
  		- uses: actions/checkout@v3
  		- name: Xcode build
  		  run: set -o pipefail &&
        xcodebuild
        -sdk iphonesimulator
        -configuration Debug
        -workspace CISample.xcworkspace
        -scheme CISample
        build
        | bundle exec xcpretty
        
		- name: Xcode test
		  run: set -o pipefail &&
        xcodebuild
        -sdk iphonesimulator
        -configuration Debug
        -workspace CISample.xcworkspace
        -scheme CISample
        -destination 'platform=iOS Simulator,name=iPhone 14 Pro Max'
        -skip-testing:{UIテスト}
        clean test
        | bundle exec xcpretty --report html